/*
.multi-step-steps.ui.steps, .multi-step-steps.ui.steps .ui.step.first, .multi-step-steps.ui.steps .ui.step.last {
  border-radius:0;
}
.multi-step-steps.ui.steps .ui.step {
  font-size: 0.8rem;
  padding: 0.5em;
}
.multi-step-steps.ui.steps .ui.step:after{
  height: auto;
}
.multi-step-steps.ui.steps .ui.step .step-order {
  margin-right:1ex;
}
*/